name: Go build and Deluge integration
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.20
      id: go

    - name: Check out repository
      uses: actions/checkout@v1

    - name: Linux build
      run: |
        make all integration
        cp scripts/deluge-install.sh bin/
        cp scripts/deluge-integration.sh bin/

    - name: Upload Linux build
      uses: actions/upload-artifact@v1
      with:
        name: linux-amd64
        path: bin/

    - name: Windows build
      run: make bin/delugecli-windows

  integration_v2:
    name: Deluge v2.0.3 integration test
    needs: build
    runs-on: ubuntu-18.04
    steps:

    - name: Download Linux build
      uses: actions/download-artifact@v1
      with:
        name: linux-amd64
        path: bin/

    - name: Install Deluge v2.0.3
      run: |
        sudo bash bin/deluge-install.sh --v2

    - name: Integration test
      run: |
        bash bin/deluge-integration.sh --v2

  integration_v1:
    name: Deluge v1.3 integration test
    needs: build
    runs-on: ubuntu-18.04
    steps:

    - name: Download Linux build
      uses: actions/download-artifact@v1
      with:
        name: linux-amd64
        path: bin/

    - name: Install Deluge v1.3
      run: |
        sudo bash bin/deluge-install.sh --v1

    - name: Integration test
      run: |
        bash bin/deluge-integration.sh --v1
